.FullBook h3 {
    text-transform: capitalize;
    text-decoration: underline;
}

.FullBook .description {
    padding: 18px;
    background-color: white;
    border-radius: 4px;
    box-shadow: inset 2px 2px #ccc;
    margin-bottom: 10px;
}
