.Book {
    list-style: none;
    background-color: white;
    /* box-shadow: 4px 4px #ccc; */
    padding: 12px;
    text-transform: capitalize;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 12px 0px;
}

.ViewButton {
    margin-top: -8px;
    margin-right: -7px;
    box-shadow: 2px 2px slategrey;
}
